@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #8a8ba1; }

.bg-c1 {
  background-color: #ecebf6; }

.bg-c2 {
  background-color: #272c48; }

.bg-c3 {
  background-color: #d4357d; }

.bg-c4 {
  background-color: #8a8ba1; }

.bg-c5 {
  background-color: #ecb332; }

.bg-c6 {
  background-color: #27b8bf; }

.bg-c7 {
  background-color: #f4e3e9; }

.text-c1 {
  color: #ecebf6; }

.text-c2 {
  color: #272c48; }

.text-c3 {
  color: #d4357d; }

.text-c4 {
  color: #8a8ba1; }

.text-c5 {
  color: #ecb332; }

.text-c6 {
  color: #27b8bf; }

.bg-white {
  background-color: white; }

.ct-bordr {
  border-radius: 5px; }

.text-white {
  color: #fff; }

.text-center {
  text-align: center; }

.w-100 {
  width: 100%; }

.mb-50 {
  margin-bottom: 150px; }

a {
  text-decoration: none; }

.header {
  border-bottom: 1px solid #ecebf6; }

.ui-design .ui {
  width: 40px;
  height: 40px;
  border-radius: 40px 40px 40px 49px;
  font-size: 22px;
  font-weight: 100;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
.ui-design .design-daily {
  color: #272c48;
  font-size: 18px; }

#navigation .category-level > ul, #navigation-small .category-level > ul {
  display: flex;
  list-style: none; }
  #navigation .category-level > ul > li, #navigation-small .category-level > ul > li {
    border-radius: 30px;
    padding: 10px;
    margin-right: 5px; }
    #navigation .category-level > ul > li:hover, #navigation-small .category-level > ul > li:hover {
      background-color: #ecebf6; }
    #navigation .category-level > ul > li > a, #navigation-small .category-level > ul > li > a {
      position: relative;
      text-align: center;
      color: #272c48;
      font-size: 13px;
      font-weight: 500;
      white-space: nowrap; }
    #navigation .category-level > ul > li:nth-child(1), #navigation-small .category-level > ul > li:nth-child(1) {
      background-color: #ecebf6; }
      #navigation .category-level > ul > li:nth-child(1) > a, #navigation-small .category-level > ul > li:nth-child(1) > a {
        color: #000; }

.user > a {
  font-size: 13px; }
.user .user-login {
  margin-right: 10px; }
.user .user-signup {
  background-color: #272c48;
  border-radius: 5px; }

.p-info p {
  font-size: 14px;
  font-weight: normal;
  max-width: 35%;
  margin: auto; }

#serch-form {
  width: 40%; }

.search-div {
  border: 1px solid #ecebf6;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 0.75rem; }

.icon-search {
  border-left: 1px solid #ecebf6;
  margin-left: 5px;
  padding: 0 10px; }

.search-select,
.search-input {
  border: 0; }
  .search-select:focus, .search-select:active,
  .search-input:focus,
  .search-input:active {
    outline: 0; }

.search-select {
  padding-right: 15px; }

.free-desing .sub-design {
  position: relative; }
  .free-desing .sub-design .desing-content {
    border-radius: 20px;
    height: 250px; }
    .free-desing .sub-design .desing-content .diamond-icon > i {
      position: absolute;
      top: 20px;
      left: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: white;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }

.design-bar > .row .first-link {
  background-color: #fcfcff;
  padding: 20px 13px;
  border-radius: 50px;
  border: 1px solid #ecebf6; }
  .design-bar > .row .first-link > a {
    font-size: 13px;
    color: #272c48; }
  .design-bar > .row .first-link a:nth-child(1) {
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
    font-weight: 600; }

/*# sourceMappingURL=theme.css.map */
