@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif; }

.bg-c1 {
  background-color: #ecebf6 !important; }

.bg-c2 {
  background-color: #272c48 !important; }

.bg-c3 {
  background-color: #d4357d !important; }

.bg-c4 {
  background-color: #8a8ba1 !important; }

.bg-c5 {
  background-color: #ecb332 !important; }

.bg-c6 {
  background-color: #27b8bf !important; }

.bg-c7 {
  background-color: #f4e3e9 !important; }

.bg-c8 {
  background-color: #edf2fe !important; }

.text-c1 {
  color: #ecebf6; }

.text-c2 {
  color: #272c48; }

.text-c3 {
  color: #d4357d; }

.text-c4 {
  color: #8a8ba1; }

.text-c5 {
  color: #ecb332; }

.text-c6 {
  color: #27b8bf; }

.bg-white {
  background-color: white; }

.ct-bordr {
  border-radius: 5px; }

.text-white {
  color: #fff; }

.text-center {
  text-align: center; }

.w-100 {
  width: 100%; }

.mb-50 {
  margin-bottom: 150px; }

.bx-none {
  box-shadow: none !important; }

a {
  text-decoration: none; }

.header {
  border-bottom: 1px solid #ecebf6; }

.ui-design .ui {
  width: 40px;
  height: 40px;
  border-radius: 40px 40px 40px 49px;
  font-size: 22px;
  font-weight: 100;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center; }
.ui-design .design-daily {
  color: #272c48;
  font-size: 18px; }

#navigation .category-level > ul,
#navigation-small .category-level > ul {
  display: flex;
  list-style: none; }
  #navigation .category-level > ul > li,
  #navigation-small .category-level > ul > li {
    border-radius: 30px;
    padding: 10px;
    margin-right: 5px; }
    #navigation .category-level > ul > li:hover,
    #navigation-small .category-level > ul > li:hover {
      background-color: #ecebf6; }
    #navigation .category-level > ul > li > a,
    #navigation-small .category-level > ul > li > a {
      position: relative;
      text-align: center;
      color: #272c48;
      font-size: 13px;
      font-weight: 500;
      white-space: nowrap; }
    #navigation .category-level > ul > li:nth-child(1),
    #navigation-small .category-level > ul > li:nth-child(1) {
      background-color: #ecebf6; }
      #navigation .category-level > ul > li:nth-child(1) > a,
      #navigation-small .category-level > ul > li:nth-child(1) > a {
        color: #000; }

.user > a {
  font-size: 13px;
  font-weight: 600; }
.user .user-login {
  margin-right: 10px; }
.user .user-signup {
  background-color: #272c48;
  border-radius: 5px; }

.p-info p {
  font-size: 14px;
  font-weight: normal;
  max-width: 35%;
  margin: auto; }

#serch-form {
  width: 40%; }

.search-div {
  border: 1px solid #ecebf6;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 100%;
  padding: 0.75rem; }

.icon-search {
  border-left: 1px solid #ecebf6;
  margin-left: 5px;
  padding: 0 10px; }

.search-select,
.search-input {
  border: 0; }
  .search-select:focus, .search-select:active,
  .search-input:focus,
  .search-input:active {
    outline: 0; }

.search-select {
  padding-right: 15px; }

.free-desing .sub-design {
  position: relative; }
  .free-desing .sub-design .desing-content {
    border-radius: 20px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .free-desing .sub-design .desing-content .diamond-icon > i {
      position: absolute;
      top: 20px;
      left: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: white;
      font-size: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }

.design-bar > .row .first-link {
  background-color: #fcfcff;
  padding: 20px 13px;
  border-radius: 50px;
  border: 1px solid #ecebf6; }
  .design-bar > .row .first-link > a {
    font-size: 13px;
    color: #272c48; }
  .design-bar > .row .first-link a:nth-child(1) {
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #000;
    font-weight: 600; }

.btn-primary {
  background-color: blue;
  border: 0; }

.card {
  display: inline-block;
  width: 60%;
  border-radius: 3px;
  background-color: white;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .card p {
    font-size: 8px; }
  .card h4 {
    margin: 0;
    font-size: 10px; }
  .card button {
    height: 20px; }
  .card small {
    font-size: 6px; }

.input-div {
  background-color: #31365d; }
  .input-div p {
    color: white; }
  .input-div .input-border {
    border-bottom: 1px solid #000; }

.theme-switch {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 20px; }
  .theme-switch input {
    display: none; }
  .theme-switch .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s; }
    .theme-switch .slider::before {
      background-color: #fff;
      bottom: 0.1rem;
      content: "";
      width: 9px;
      height: 9px;
      left: 0.1rem;
      position: absolute;
      transition: 0.4s; }
    .theme-switch .slider.round {
      border-radius: 34px; }
    .theme-switch .slider.round:before {
      border-radius: 50%; }
  .theme-switch input:checked + .slider {
    background-color: #27b8bf; }
  .theme-switch input:checked + .slider:before {
    transform: translateX(26px);
    bottom: 0.1rem;
    left: -1rem; }

.design-middle {
  position: relative; }
  .design-middle .setting-icon {
    position: absolute;
    right: 24px;
    top: 0;
    border: 1px solid #d6d6d6;
    background: white;
    padding: 2px; }

.design-end {
  position: absolute;
  top: 55px;
  left: 95px;
  border-radius: 5px;
  background-color: #fff;
  width: 50%;
  padding: 20px;
  z-index: 2; }
  .design-end h5 {
    line-height: 1.25; }
  .design-end .end-close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid #ecebf6;
    border-radius: 50%;
    padding: 5px;
    width: 15px;
    height: 15px;
    text-align: center; }
  .design-end .end-input button,
  .design-end .end-input input {
    width: 200px;
    height: 20px;
    padding: 15px;
    font-size: 13px;
    border-radius: 2px; }
  .design-end .end-input input {
    margin-bottom: 1rem;
    border: 1px solid #ecebf6; }
    .design-end .end-input input:focus, .design-end .end-input input:active {
      outline: 0; }
  .design-end .end-input button {
    color: #fff;
    background-color: #272c48;
    line-height: 5px; }

.design-end-border {
  position: absolute;
  background-color: #272c48;
  height: 120px;
  right: 64px;
  width: 150px;
  bottom: 40px;
  z-index: 1;
  border-radius: 5px; }

/*# sourceMappingURL=theme.css.map */
