@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "mixin";
$font-family: "Poppins", sans-serif;
$color-c1: #ecebf6;
$color-c2: #272c48;
$color-c3: #d4357d;
$color-c4: #8a8ba1;
$color-c5: #ecb332;
$color-c6: #27b8bf;
$color-c7: #f4e3e9;
$color-c8: #edf2fe;
body {
    font-family: $font-family;
}
.bg-c1 {
    background-color: $color-c1 !important;
}
.bg-c2 {
    background-color: $color-c2 !important;
}
.bg-c3 {
    background-color: $color-c3 !important;
}
.bg-c4 {
    background-color: $color-c4 !important;
}
.bg-c5 {
    background-color: $color-c5 !important;
}
.bg-c6 {
    background-color: $color-c6 !important;
}
.bg-c7 {
    background-color: $color-c7 !important;
}
.bg-c8 {
    background-color: $color-c8 !important;
}

.text-c1 {
    color: $color-c1;
}
.text-c2 {
    color: $color-c2;
}
.text-c3 {
    color: $color-c3;
}
.text-c4 {
    color: $color-c4;
}
.text-c5 {
    color: $color-c5;
}
.text-c6 {
    color: $color-c6;
}

.bg-white {
    background-color: white;
}

.ct-bordr {
    border-radius: 5px;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.mb-50 {
    margin-bottom: 150px;
}
.bx-none {
    box-shadow: none !important;
}
a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid $color-c1;
}

.ui-design {
    .ui {
        width: 40px;
        height: 40px;
        border-radius: 40px 40px 40px 49px;
        font-size: 22px;
        font-weight: 100;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .design-daily {
        color: $color-c2;
        font-size: 18px;
    }
}

#navigation,
#navigation-small {
    .category-level {
        > ul {
            display: flex;
            list-style: none;
            justify-content: center;
            > li {
                border-radius: 30px;
                padding: 10px;
                margin-right: 5px;
                &:hover {
                    background-color: $color-c1;
                }
                > a {
                    position: relative;
                    text-align: center;
                    color: $color-c2;
                    font-size: 13px;
                    font-weight: 500;
                    white-space: nowrap;
                }
                &:nth-child(1) {
                    background-color: $color-c1;
                    > a {
                        color: #000;
                    }
                }
            }
        }
    }
}

#navigation {
    #nav-bar {
        display: none;
        @include max($md) {
            display: block;
            text-align: end;
            font-size: 25px;
        }
    }
    .category-level {
        > ul {
            @include max($md) {
                position: fixed;
                top: 85px;
                right: 0;
                background: #fff;
                z-index: 10;
                overflow: hidden;
                overflow-y: auto;
                height: 100%;
                -webkit-transition: all 0.5s ease;
                -moz-transition: position 10s;
                -ms-transition: position 10s;
                -o-transition: position 10s;
                transform: translateX(100%);
                transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
                width: 93%;
                padding: 20px;
                display: block;
                background: #000;

                > li {
                    &:nth-child(5) {
                        margin-bottom: 1.5rem;
                    }
                    > a {
                        color: #fff;
                    }
                }
                .user-login,
                .user-signup {
                    color: white;
                    padding: 10px !important;
                }
            }
            &.active {
                transform: translateX(0%);
            }
        }
    }
}
#navigation-small {
    .category-level {
        > ul {
            @include max($md) {
                padding-left: 0;
            }
        }
    }
}

.header {
    .user {
        @include max($md) {
            display: none !important;
        }
    }
    &.sticky {
        @include max($md) {
            position: fixed !important;
            top: 0;
            right: 0;
            left: 0;
            z-index: 11;
            background-color: white;
            #navigation {
                .category-level {
                    > ul {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
.user {
    > a {
        font-size: 13px;
        font-weight: 600;
    }
    .user-login {
        margin-right: 10px;
    }
    .user-signup {
        background-color: $color-c2;
        border-radius: 5px;
    }
}
.p-info {
    p {
        font-size: 14px;
        font-weight: normal;
        max-width: 35%;
        margin: auto;
        @include max($md) {
            max-width: 100%;
        }
    }
}
#serch-form {
    width: 40%;
    @include max($md) {
        width: 100%;
        display: flex;
    }
}
.search-div {
    border: 1px solid #ecebf6;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    padding: 0.75rem;
}

.icon-search {
    border-left: 1px solid #ecebf6;
    margin-left: 5px;
    padding: 0 10px;
    @include max($md) {
        border: 0;
    }
}
.search-select,
.search-input {
    border: 0;
    &:focus,
    &:active {
        outline: 0;
    }
}

.search-select {
    padding-right: 15px;
}
.free-desing {
    .sub-design {
        position: relative;
        &.is-hidden{
           display: none;
        }
        .desing-content {
            border-radius: 20px;
            height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            .diamond-icon {
                > i {
                    position: absolute;
                    top: 20px;
                    left: 30px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background-color: white;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.design-bar {
    > .row {
        .first-link {
            background-color: #fcfcff;
            padding: 20px 13px;
            border-radius: 50px;
            border: 1px solid #ecebf6;
            > a {
                font-size: 13px;
                color: $color-c2;
            }
            a:nth-child(1) {
                padding: 10px 20px;
                margin-right: 5px;
                border-radius: 50px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                color: #000;
                font-weight: 600;
            }
        }
    }
}

.btn-primary {
    background-color: blue;
    border: 0;
}

.card {
    display: inline-block;
    width: 60%;
    border-radius: 3px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    p {
        font-size: 8px;
        @include max($xxs) {
            font-size: 5px;
        }
    }
    h4 {
        margin: 0;
        font-size: 10px;
    }
    button {
        height: 20px;
    }
    small {
        font-size: 6px;
    }
}

.input-div {
    background-color: #31365d;
    p {
        color: white;
    }
    .input-border {
        border-bottom: 1px solid #000;
    }
}

.theme-switch {
    display: inline-block;
    height: 12px;
    position: relative;
    width: 20px;
    input {
        display: none;
    }
    .slider {
        background-color: #ccc;
        bottom: 0;
        cursor: pointer;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.4s;
        &::before {
            background-color: #fff;
            bottom: 0.1rem;
            content: "";
            width: 9px;
            height: 9px;
            left: 0.1rem;
            position: absolute;
            transition: 0.4s;
        }
        &.round {
            border-radius: 34px;
        }
        &.round:before {
            border-radius: 50%;
        }
    }
    input:checked + .slider {
        background-color: $color-c6;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
        bottom: 0.1rem;
        left: -1rem;
    }
}

.design-middle {
    position: relative;
    .setting-icon {
        position: absolute;
        right: 24px;
        top: 0;
        border: 1px solid #d6d6d6;
        background: white;
        padding: 2px;
    }
}

.design-end {
    position: absolute;
    top: 55px;
    left: 95px;
    border-radius: 5px;
    background-color: #fff;
    width: 50%;
    padding: 20px;
    z-index: 2;
    @include max($xxs) {
        top: 75px;
        left: 55px;
    }
    h5 {
        line-height: 1.25;
        @include max($xxs) {
            font-size: 7px;
        }
    }
    .end-close {
        position: absolute;
        right: 5px;
        top: 5px;
        border: 1px solid #ecebf6;
        border-radius: 50%;
        padding: 5px;
        width: 15px;
        height: 15px;
        text-align: center;
    }
    .end-input {
        button,
        input {
            width: 200px;
            height: 20px;
            padding: 15px;
            font-size: 13px;
            border-radius: 2px;
            @include max($xxs) {
                width: 150px;
            }
        }
        input {
            margin-bottom: 1rem;
            &:focus,
            &:active {
                outline: 0;
            }
            border: 1px solid $color-c1;
        }
        button {
            color: #fff;
            background-color: $color-c2;
            line-height: 5px;
        }
    }
}

.design-end-border {
    position: absolute;
    background-color: $color-c2;
    height: 120px;
    right: 70px;
    width: 150px;
    bottom: 70px;
    z-index: 1;
    border-radius: 5px;
    @include max($xxs) {
        right: 35px;
        bottom: 115px;
    }
}
.svg-icon {
    text-align: center;
    border: 1px solid #ecebf6;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 46px;
    margin: 5px;
    svg {
        width: 24px;
        height: 24px;
    }
    &:nth-child(2) {
        border: 1px solid $color-c3;
    }
    &:nth-child(4) {
        .st0 {
            fill: #470137;
        }

        .st1 {
            fill: #ff61f6;
        }
    }
    &:nth-child(5) {
        .st0 {
            fill: #001e36;
        }

        .st1 {
            fill: #31a8ff;
        }
    }
}

.svg-none {
    @include max($sm) {
        display: none !important;
    }
}
.first {
    @include max($md) {
        justify-content: center;
    }
}

